org.eclipse.linuxtools.tmf.ui/schema/export-manifest.xsd

<!--
 ***************************************************************************
 * Copyright (c) 2013 Ericsson
 *
 * All rights reserved. This program and the accompanying materials are
 * made available under the terms of the Eclipse Public License v1.0 which
 * accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Marc-Andre Laperle - Initial API and implementation
 ***************************************************************************
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tmf-export">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="trace">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="file">
                <xs:complexType>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                </xs:complexType>
              </xs:element>

              <xs:element name="supplementary-file" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:attribute type="xs:string" name="name" use="required"/>
                </xs:complexType>
              </xs:element>

              <xs:element name="bookmarks" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>

                    <xs:element name="bookmark" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute type="xs:string" name="location" use="required"/>
                        <xs:attribute type="xs:string" name="message" use="required"/>
                        <xs:anyAttribute processContents="skip"/>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>

            <xs:attribute type="xs:string" name="name"/>
            <xs:attribute type="xs:string" name="type"/>

          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>